* {
    color: white;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

.section-title {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 60px;
    text-shadow: 0 0 30px rgb(189, 48, 76);
    margin: 10px;
}

#q-title {
    font-size: 25px;
    text-shadow: 0 0 30px rgb(48, 100, 189);
}

body {
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
}

#name-text {
    text-align: center;
    font-size: 150px;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 0 0 30px rgb(48, 189, 119);
    animation-name: name-text;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    border-radius: 50px;
    margin: 0;
}

.section {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

@keyframes name-text {
    0% {
        opacity: 0;
        word-spacing: 100px;
        background-color: rgba(255, 255, 255, 0);
    }
    50% {
        opacity: 1;
        word-spacing: normal;
        background-color: rgba(255, 255, 255, 0);
    }
    100% {
        opacity: 1;
        word-spacing: normal; 
        background-color: rgba(255, 255, 255, 0.03);
    }
}